body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h2{
    color:darkslateblue;
}

li{
    list-style: none;
}

.tablero_de_juego {
    display: grid;
    grid-template-columns: repeat(4, 100px); /*Define el número de columnas en la cuadrícula y su tamaño*/
    grid-template-rows: repeat(4, 100px); /*Define el número de filas en la cuadrícula y su tamaño*/
    gap: 10px; /*Espacio entre celdas de la cuadrícula*/
    margin: 20px auto;
    width: fit-content;
}

.tablero_de_juego div {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer; /*Para que al pasar sobre las celdas se vea el puntero, en lugar del cursor normal*/
}

button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; /*Para que al pasar sobre los botones se vea el puntero, en lugar del cursor normal*/
}

.boton_reinicio{
    background-color: crimson;
}

.boton_turno_extra{
    background-color: greenyellow;
}